<div class="row card-container">
    <div class="col-md-12" style="height:'100%'">
        {{#if message}}
        <div class="alert alert-{{type}}">
            {{message}}
        </div>
        {{/if}}
        <div class="card main-card">
            <div class="card-header row" style="justify-content: space-between; margin: 10px">
                <h4 class="card-title"> Uploaded Streams</h4>
                <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#uploadModal">
                    Upload
                </button>
            </div>

            <div class="card-body">
                <div class="table-responsive video-table">
                    <table class="table" style="font-size: 12px;">
                        <thead class="text-primary">
                            <tr>
                                <th>Video Name</th>
                                <th>File Name</th>
                                <th>Original Name</th>
                                <th>Size (Bytes)</th>
                                <th>Type</th>
                                <th>Encoding</th>
                                <th>Link</th>
                                <th>Created At</th>
                            </tr>

                        </thead>
                        <tbody>
                            {{#if videos_data}}
                            {{#each videos_data}}


                            <tr>
                                <td> {{this.video_name}} </td>
                                <td> {{this.file_name}} </td>
                                <td> {{this.original_name}} </td>
                                <td> {{this.size}} </td>
                                <td> {{this.mimetype}} </td>
                                <td> {{this.encoding}} </td>
                                <td>
                                    <a target="_blank" href="{{base_url}}/uploads/{{this.file_name}}"> <i
                                            class="fa fa-link"></i> </a>
                                    <a class="copy_text" data-toggle="tooltip" title="Copy Link to clipboard"
                                        href="{{base_url}}/uploads/{{this.file_name}}"> <i class="fa fa-copy"></i>
                                    </a>
                                </td>
                                <td>
                                    <script> document.write(new Date("{{this.created_at}}").toLocaleString()) </script>
                                </td>
                            </tr>

                            {{/each}}

                            {{else}}

                            <tr>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                                <td> - </td>
                            </tr>

                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Videos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/videos/uploadfile" enctype="multipart/form-data" method="POST">
                    <div class="dropzone" id="myDropzone"></div>
                    <button type="submit" class="btn btn-primary w-100" id="submit-all"> upload </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{#section 'script'}}
<script>
    // Configure Dropzone. Add Chunk Upload Option, remove multifile upload and limit acceptedFiles
    Dropzone.options.myDropzone = {
        url: '/videos/uploadFiles',
        autoProcessQueue: false,
        uploadMultiple: false,
        parallelUploads: 1,
        maxFiles: 1,
        chunking: true,
        maxFilesize: 10000,
        acceptedFiles: 'video/*',
        addRemoveLinks: true,
        chunksUploaded: runOnUploaded(),
        init: function () {
            dzClosure = this;
            document.getElementById("submit-all").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                dzClosure.processQueue();
            });
        }
    }

    function runOnUploaded(file) {
        debugger
    }
</script>


{{/section}}